body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: black;
}

.game-container {
  width: 1000px; 
  height: 1000px; 
  border: 2px solid black; 
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-image: url('https://64.media.tumblr.com/d6d0246ca0dffa230f03be2521b3210f/tumblr_obfjz6Bd9f1runoqyo2_r1_540.gif');
  background-size: cover;
  background-position: center;
  /* width: 800;
  height: 600;
  padding: 0;
  margin: auto;
  display: block;
  box-shadow: 1px 5px 20px #1b94fb; */
}

.menu-container {
  background-color: transparent;
  background-image: url('https://i.gifer.com/78Fv.gif');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.menu-container h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}

.menu-container p {
  color: white;
  font-size: 1.25rem;
  margin-bottom: 20px;
  max-width: 80%; 
  text-align: justify;
}

.menu-container button {
  font-size: 1.25rem;
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-container button:hover {
  background-color: #2980b9;
}



h1 {
  font-family: fantasy;
  margin-bottom: 20px;
  color: black;
}

/* p {
  color: white;
  font-size: 18px;
  margin: 10px 0;
  flex-direction: column;
  text-align: justify;
} */

.player-selection {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;

}

#game-canvas {
  background-color: black;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}

body {
  margin: 0;
  overflow: hidden;
}

.background-gif{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.game-over h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.game-over p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.game-over button {
  font-size: 1.25rem;
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.game-over button:hover {
  background-color: #2980b9;
}
